In [1]:
# Upsampling and downsampling 

import numpy as np
import pandas as pd

np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9

n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

n_class_0, n_class_1

(900, 100)

In [2]:
class_0 = pd.DataFrame({
    'x0': np.random.normal(0, 1, n_class_0),
    'x1': np.random.normal(0, 1, n_class_0),
    'y': np.zeros(n_class_0)
})

class_1 = pd.DataFrame({
    'x0': np.random.normal(1, 1, n_class_1),
    'x1': np.random.normal(1, 1, n_class_1),
    'y': np.ones(n_class_1)
})

In [5]:
df = pd.concat([class_0, class_1],).reset_index(drop=True)

df.head()
df.tail()

           x0        x1    y
995  0.376371  1.845701  1.0
996  1.239810 -0.119923  1.0
997  0.131760  0.640703  1.0
998  1.902006 -0.609695  1.0
999  1.697490  1.013570  1.0

In [8]:
df['y'].value_counts()

y
0.0    900
1.0    100
Name: count, dtype: int64

In [9]:
df_minority = df[df['y'] == 1]
df_majority = df[df['y'] == 0]

from sklearn.utils import resample

df_minority_upsampled = resample(df_minority, replace=True, n_samples=len(df_majority), random_state=42)

In [10]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

df_upsampled['y'].value_counts()

y
0.0    900
1.0    900
Name: count, dtype: int64

In [11]:
# Downsampling

df_majority_downsampled = resample(df_majority, replace=False, n_samples=len(df_minority), random_state=42)

df_downsampled = pd.concat([df_majority_downsampled, df_minority])

df_downsampled['y'].value_counts()

y
0.0    100
1.0    100
Name: count, dtype: int64