In [6]:
import pandas as pd
import io

dummy_json = '{"name": ["John", "Anna", "Peter", "Linda"], "age": [23, 36, 34, 21], "city": ["New York", "Paris", "Berlin", "London"]}'

df = pd.read_json(io.StringIO(dummy_json))
print(df)

# Back to JSON

print(df.to_json(orient='records'))

    name  age      city
0   John   23  New York
1   Anna   36     Paris
2  Peter   34    Berlin
3  Linda   21    London
[{"name":"John","age":23,"city":"New York"},{"name":"Anna","age":36,"city":"Paris"},{"name":"Peter","age":34,"city":"Berlin"},{"name":"Linda","age":21,"city":"London"}]

In [10]:
# Read a URL

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

df = pd.read_csv(url, sep='\t',header=None)

print(df.head())

# Convert to CSV

df.to_csv('chipotle.csv', index=False)

          0         1                                      2  \
0  order_id  quantity                              item_name
1         1         1           Chips and Fresh Tomato Salsa
2         1         1                                   Izze
3         1         1                       Nantucket Nectar
4         1         1  Chips and Tomatillo-Green Chili Salsa

                    3           4
0  choice_description  item_price
1                 NaN      $2.39
2        [Clementine]      $3.39
3             [Apple]      $3.39
4                 NaN      $2.39

In [ ]:
# Read a HTML 

url = 'https://www.fdic.gov/bank/individual/failed/banklist.html'

df = pd.read_html(url)

print(df[0].head())

In [ ]:
# Read a Excel

url = 'https://file-examples.com/wp-content/uploads/2017/02/file_example_XLS_10.xls'

df = pd.read_excel(url)

print(df.head())

In [ ]:
# Convert to Pickle

df.to_pickle('file_example_XLS_10.pkl')

# Read a Pickle

df = pd.read_pickle('file_example_XLS_10.pkl')

print(df.head())