In [43]:
from tensorflow.keras.models import load_model

In [44]:
model = load_model('churn_model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [45]:
import pickle

with open('standard_scaler.pkl', 'rb') as f:
    scaler = pickle.load(f)

with open('label_encoder.pkl', 'rb') as f:
    label_encoder = pickle.load(f)

with open('onehot_encoder.pkl', 'rb') as f:
    onehot_encoder = pickle.load(f)

In [46]:
df = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [47]:
df['Gender']

'Male'

In [48]:
df['Gender'] = label_encoder.transform([df['Gender']])[0]

In [53]:
dfg = onehot_encoder.transform([[df["Geography"]]]).toarray()

/Users/mac/Desktop/MLOps/Projects/Customer-Prediction/venv/lib/python3.11/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [58]:
df = pd.DataFrame([df])

In [59]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [60]:
import pandas as pd

new_dfg = pd.DataFrame(dfg, columns=onehot_encoder.get_feature_names_out(["Geography"]))

new_dfg

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [61]:
data = pd.concat([df.drop(columns=['Geography']), new_dfg], axis=1)

In [62]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [63]:
scaled_data = scaler.transform(data)

scaled_data

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [64]:
y_pred = model.predict(scaled_data)

y_pred

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 41ms/step

array([[0.03260298]], dtype=float32)

In [65]:
if y_pred[0][0] > 0.5:
    print("The customer is likely to churn.")
else:
    print("The customer is likely to stay.")

The customer is likely to stay.